<div id="overlay">
    <div>
        <div class="message-container rounded border">
            <div class="overlay-header-container">
                <img class="overlay-logo" src="/images/yt48.png"/>
                <h1>YouTags</h1>
            </div>
            <p>Привет, этот сайт сделан для того чтобы вы могли попробовать весь функционал ютегс!</p>
            <p>Тут вы можете использовать чеклист для публикациии видео и искать показатели тегов для ваших работ.</p>
            <p>Попробуйте поискать такие теги как: "влог" "обзор iphone" и другие. </p>
            <button class="btn btn-info" onclick="Window.overlayOk();">Начать</button>
        </div>
    </div>
</div>