<div id="root"></div>
<div class="draggable-container te-explorer">

    <div class="control-panel">
        <a href="#" class="btn menu-btn"></a>
        <a href="#" class="check-control section-link active">Чек Лист</a>
        <a href="#" class="tag-control section-link">Поиск тегов</a>
        <a href="#" class="close-control section-link">x</a>
    </div>

    <div id="check-list-row" class="steps-container">
        <div class="list-element">
            <input type="checkbox" class="step-checkbox"><span class="step-title">1. Переименовываем видео файл</span><img class="caret-down" src="/images/caret-down.png">
            <div class="step" style="display: none;">
                <p class="step-guidance">
                    Название файла - это первый шаг к оптимизации видео. Оно участвует в поисковой выдаче YouTube, Google, Yandex.
                </p>
                <ul class="bullet-list">
                    <li>По названию файла должно быть понятна тема видео, например, «обзор на мотоцикл.mov» или «монтаж кровли.mp4»</li>
                    <li>Не оставляйте название файла стандартным, таким как: MVI_0441.MOV</li>
                    <li>Правильное название файла увеличивает кол-во просмотров за счет выдачи в поисковых системах.</li>
                </ul>
            </div>
        </div>

        <div class="list-element">
            <input type="checkbox" class="step-checkbox"><span class="step-title">2. Подбираем поисковые теги</span><img class="caret-down" src="/images/caret-down.png">
            <div class="step" style="display: none;">
                <p class="step-guidance">
                    Теги — это метки по которым зритель может найти ваше видео в поисковой выдаче или в рекомендованных и похожих видео. Поэтому мы начинаем оптимизацию наших видео именно с тегов, а не с названия и описания.
                    Необходимое кол-во тегов: 6-8 штук. Для подбора тегов используйте вкладку «<span style="color: black;">Поиск тегов</span>».
                </p>
                <ul class="bullet-list">
                    <li>Наша задача найти поисковые запросы с максимальным объемом поиска и минимальным количеством конкуренции.</li>
                    <li>Если вы делаете обзор чего-либо попробуйте проверить тег «обзор на сноуборд», «сноуборд обзор» вместо «обзор сноуборда».</li>
                    <li>Обратите внимание на предложенное в "Поиске тегов". Среди них могут быть теги с высокими поисковыми показателями.</li>
                    <li>Если ваше видео отвечает на вопросы «как?», «что?», «где?», «когда?» - используйте эти слова в поисковых тегах.</li>
                </ul>
            </div>
        </div>

        <div class="list-element">
            <input type="checkbox" class="step-checkbox"><span class="step-title">3. Подбираем тематические теги</span><img class="caret-down" src="/images/caret-down.png">
            <div class="step" style="display: none;">
                <p class="step-guidance">
                    Данная группа тегов нужна для попадания нашего видео в список рекомендованного к видео уже набравшим популярность. Данные теги могут иметь плохой поисковой рейтинг.
                    Например: строительство бани, баня своими руками, планировка бани. Необходимое количество: 3-4 штуки.
                </p>
                <ul class="bullet-list">
                    <li>Рассмотрите предложенные теги в списке «Популярно на ютубе» и «Популярные тренды».</li>
                    <li>В данный список не пишите теги с опечатками и на транслите.</li>
                </ul>
            </div>
        </div>



        <div class="list-element">
            <input type="checkbox" class="step-checkbox"><span class="step-title">4. Подбираем брендирующие теги</span><img class="caret-down" src="/images/caret-down.png">
            <div class="step" data-stepnum="4" style="display: none;">
                <p class="step-guidance">
                    Используя уникальные, повторяющиеся теги под всеми нашими видео мы формируем список рекомендаций состоящий только из наших контента.
                    Количество тегов: 3 штуки.
                </p>
                <ul class="bullet-list">
                    <li>Придумайте уникальные для своего канала теги. Например: «СамыйЛучшийЗаводВМире» «СЛЗВМобзор»</li>
                    <li>Показатели данной группы тегов не важны.</li>
                    <li>Не используйте чужие брендирующие теги такие как: «Трансформатор», «Дудь», «Славный обзор».</li>
                </ul>
            </div>
        </div>

        <div class="list-element">
            <input type="checkbox" class="step-checkbox"><span class="step-title">5. Придумываем название для видео</span><img class="caret-down" src="/images/caret-down.png">
            <div class="step" data-stepnum="5" style="display: none;">
                <p class="step-guidance">
                    Название должно вызывать у человека желание кликнуть на видео.
                    В названии необходимо использовать до 3-х тегов.
                </p>
                <ul class="bullet-list">
                    <li>Первая часть названия - популярный тематический тег.</li>
                    <li>Вторая часть названия - поисковой запрос с наибольшим рейтингом.</li>
                    <li>Третья часть названия - (по желанию) 2-й поисковой запрос.</li>
                    <li>Название должно полностью соответствовать содержанию видео. Не вводите в заблуждение своих зрителей иначе они покинут ваше видео.</li>
                    <li>Если у вас серийный контент не забудьте включить номер эпизода в название.</li>
                </ul>
            </div>
        </div>

        <div class="list-element">
            <input type="checkbox" class="step-checkbox"><span class="step-title">6. Составляем описание к видео</span><img class="caret-down" src="/images/caret-down.png">
            <div class="step" data-stepnum="6" style="display: none;">
                <p class="step-guidance">
                    Задача на этом этапе продублировать теги в описании, чтобы придать видео наибольший ранжирующий фактор.
                </p>
                <ul class="bullet-list">
                    <li>Описание должно быть логически выстроенным. Описание такое как: «купить дом, купить дом в Москве, как купить дом в Москве дешево» нарушают правила сообщества YouTube и могут привести к блокировке канала.</li>
                    <li>В тексте необходимо описать происходящее на видео с повторением поисковых, тематических и брендирующих тегов.</li>
                    <li>В конце описания оставьте свои контакты и ссылки на другие ваши видео по смежной тематике.</li>
                </ul>
            </div>
        </div>

        <div class="list-element">
            <input type="checkbox" class="step-checkbox"><span class="step-title">7. Создаем превью</span><img class="caret-down" src="/images/caret-down.png">
            <div class="step" data-stepnum="7" style="display: none;">
                <p class="step-guidance">
                    Превью - картинка-обложка видео по которой человек должен понять, о чем пойдет речь в видео. Уделите особое внимание созданию превью, это как раз тот случай, когда о книге будут судить по обложке.
                </p>
                <ul class="bullet-list">
                    <li>Превью должно быть с минимальным разрешением 1280х720.</li>
                    <li>50% просмотров идет с мобильных устройств. Превью должно быть читаемо даже с небольших экранов смартфонов.</li>
                    <li>Постарайтесь придерживаться определенного стиля на всех своих превью.</li>
                    <li>Показатель кликабельности (CTR) картинки можно посмотреть в творческой студии.</li>
                    <li>Поэкспериментируйте с текстами на картинке и эмоциями человека на ней. Используйте яркие цвета, различных вариантов выделения отдельных объектов.</li>
                </ul>
            </div>
        </div>

        <div class="list-element">
            <input type="checkbox" class="step-checkbox"><span class="step-title">8. Настраиваем заставки и подсказки</span><img class="caret-down" src="/images/caret-down.png">
            <div class="step" data-stepnum="8" style="display: none;">
                <p class="step-guidance">
                    Конечные заставки и подсказки - это ссылки в самом видео, которые ведут на другие ваши видео, плейлисты, сайты.
                </p>
                <ul class="bullet-list">
                    <li>10% трафика канала может состоять из переходов по конечным заставкам и подсказкам.</li>
                    <li>Рекомендуем использовать в конечных заставках шаблон: 2 видео + 1 подписка на канал</li>
                    <li>В качестве цели конечной заставки используйте «новое» и «рекомендуемое» видео.</li>
                </ul>
            </div>
        </div>

        <div class="list-element">
            <input type="checkbox" class="step-checkbox"><span class="step-title">9. Создадим плейлисты</span><img class="caret-down" src="/images/caret-down.png">
            <div class="step" data-stepnum="9" style="display: none;">
                <p class="step-guidance">
                    Плейлист это список видео, которые воспроизводятся последовательно, в том порядке какой вы сами выберете. Плейлисты должны быть сегментированы по тематике видео.
                </p>
                <ul class="bullet-list">
                    <li>Плейлисты участвуют в поисковой выдаче YouTube и имеют больший вес при ранжировании.</li>
                    <li>Если загружаемое видео не подходит по смыслу ни в один Ваш плейлист создайте новый.</li>
                </ul>
            </div>
        </div>

        <div class="list-element">
            <input type="checkbox" class="step-checkbox"><span class="step-title">10. Ищем трафик на видео.</span><img class="caret-down" src="/images/caret-down.png">
            <div class="step" data-stepnum="10" style="display: none;">
                <p class="step-guidance">
                    Последний шаг оптимизации видео - сбор аналитики с максимальной объемной фокус группы.
                </p>
                <ul class="bullet-list">
                    <li>Зарепостите свое видео в социальные сети или купите платную рекламу.</li>
                    <li>Попробуйте создать треды в тематических форумах или на бордах.</li>
                    <li>У вас есть 2 дня после публикации видео для первоначального сбора аналитики основных параметров органического продвижения.</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="tag-row" style="display: none;">

        <div class="search-section">
            <div class="search-control">
                <input class="te-tag-input" placeholder="Поиск тегов" />
                <a class="te-find btn btn-sm btn-outline-secondary"></a>
            </div>
        </div>


        <div class="search-img-section">
            <img class="search-img-big" src="/images/search.png">
            <br />
            <h3>Введите текст и нажмите поиск</h3>
        </div>

        <div class="results" style="display: none;">

            <div class="row load-gif-container box">
                <div class="col-md-12 meter">
                    <img class="load-img" src="/images/load.gif">
                    <h3>Вычисляем статистику тега...</h3>
                </div>
            </div>

            <div class="meters-container box" style="display: none;">
                <div class="row speedometer-section">
                    <div class="col-md-6 meter search-value">
                        <h3>Объем поиска</h3>
                        <img class="sv-img-meter" src="/images/sm_md.png">
                    </div>

                    <div class="col-md-6 meter search-count">
                        <h3>Конкуренция</h3>
                        <img class="videoc-img-meter" src="/images/sm_md.png">
                    </div>
                </div>


                <div class="row rating-section">
                    <div class="col-md-12">
                        <h3>Рейтинг тега</h3>
                        <div class="row">
                            <div class="col-md-4">

                                <div class="meter-count">..</div>
                            </div>

                            <div class="col-md-8">
                                <p class="points-exp">Мало поиска средняя конкуренция</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row box">
                <div class="pop-container col-md-6">
                    <h3>Популярно на ютубе</h3>
                    <div class="popular-youtube"></div>
                </div>

                <div class="pop-container col-md-6">
                    <h3>Лидеры трендов</h3>
                    <div class="google-trends"></div>
                </div>
            </div>

            <div class="row box">
                <div class="col-lg-4 auto-section">
                    <img src="/images/google.png">
                    <ul class="google-auto auto-list"></ul>
                </div>

                <div class="col-lg-4 auto-section">
                    <img src="/images/youtube.png">
                    <ul class="youtube-auto auto-list"></ul>
                </div>

                <div class="col-lg-4 auto-section">
                    <img src="/images/yandex.png">
                    <ul class="yandex-auto auto-list"></ul>
                </div>
            </div>
        </div>
    </div>
</div>