<!DOCTYPE html>
<html>
  <head>
      <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>
  <body>
    <div id="overlay">
        <h1>Это приветствие</h1>
        <button class="btn btn-outline-light" onclick="Window.overlayOk();">Понятно</button>
    </div>
    {{{body}}}
    <script src="/bundle.js" type="text/javascript"></script>
  </body>
</html>
