<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="theme-color" content="#f1f1f1">
      <link rel="manifest" href="/manifest.json">
      <title>{{model.title}}</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
      <link rel="shortcut icon" type="image/png" href="/images/yt48.png">
  </head>
  <body>
    {{{body}}}
    <script src="/bundle.js" type="text/javascript"></script>
  </body>
</html>
