.step-element {
  background-color: white;
  padding: 7px 7px;
  margin: 0 4px 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
}

.step-checkbox {
  margin-right: 5px;
}

.step-title {
  font-size: 16px;
  font-family: "YouTube Noto",Roboto,arial,sans-serif;
  cursor: pointer;
  color: rgb(10, 10, 10);
}

.step-guidance {
  margin: 0;
  padding: 7px 3px 7px 18px;
  font-size: 16px;
}

.step-caret-down {
  height: 10px;
  position: relative;
  opacity: .6;
  top: 4px;
  float: right;
  margin-right: 4px;
  cursor: pointer;
}

.step-bullet-list {
  padding-left: 0;
  list-style-type: disc;
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.step-bullet-list li {
  margin-left: 20px;
  margin-bottom: 10px;
}