@media only screen and (max-width: 900px) {
  /* For mobile phones: */
  [class*="te-explorer"] {
    width: 100% !important;
    margin-left: 0 !important;
  }

  [id*="root"] {
      padding: 0 !important;
  }
}

body {
  background-color: #f1f1f1 !important;
}

h3 {
  font-size: 14px !important;
}

#root{
    padding: 10%;
}

.te-explorer * {
  box-sizing: border-box;
}

.index-loading{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#overlay {
  background-color: rgb(241, 241, 241);
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 10%;
}

.message-container{
    text-align: center;
    background: white;
    padding: 43px;
}

.overlay-header-container{
    display:inline-flex;
}

.overlay-logo{
    margin-right: 10px;
}

.te-explorer {
  /*position: fixed;*/
  background-color: rgb(241, 241, 241);
  /*top: 228px;
  left: 50%;
  margin-left: -200px;*/
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  /*width: 400px;*/
  height: 500px;
  width: 50%;
  margin-left: 25%;
}

.menu-btn {
  height: 32px;
  width: 29px;
  margin-right: 5px;
  background: url("../images/yt32.png") no-repeat;
  background-size: contain;
}

.menu-btn:active {
  background: url("../images/yt32.png") no-repeat !important;
  background-size: contain !important;
}

.open-tags {
  height: 28px;
  width: 44px;
  margin-left: 5px;
  margin-right: 5px;
  background: url("../images/yt32.png") no-repeat 6px -2px;
  border-color: rgba(0,0,0,0);
  box-sizing: border-box;
}

.box {
  display: flex;
  background-color: white;
  padding: 13px;
  margin: 0 0 10px 0 !important;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.check-container {
  border-right: 1px groove black;
  height: 300px;
}

.list-element {
  background-color: white;
  padding: 7px 7px;
  margin: 0 4px 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
}

.section-link {
  margin-right: 10px;
  font-weight: 500;
  font-size: 15px;
  color: rgba(0,0,0,0.5);
}

.section-link:hover {
  color: rgba(10,10,10,1);
  text-decoration: none
}

.section-link.active {
  border-bottom: 3px solid red;
  color: rgba(10,10,10,1);
  text-decoration: none
}

.steps-container {
  overflow: auto;
  height: 440px;
}

.caret-down {
  height: 10px;
  position: relative;
  opacity: .6;
  top: 4px;
  float: right;
  margin-right: 4px;
  cursor: pointer;
}

.step-title {
  font-size: 16px;
  font-family: "YouTube Noto",Roboto,arial,sans-serif;
  cursor: pointer;
  color: rgb(10, 10, 10);
}

.step-checkbox {
  margin-right: 5px;
}

.step-guidance {
  margin: 0;
  padding: 7px 3px 7px 18px;
  font-size: 16px;
}

.check-li {
  margin-bottom:5px;
}

.control-panel {
  line-height: 2;
  height: 33px;
  padding: 0 13px 0 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
  border-bottom: none;
  margin-bottom: 10px;
  background-color: white;
}

.close-control {
  float: right;
  text-align: right;
  position: relative;
  margin-right:0 !important;
}

.search-section {
  padding: 0 10px 0;
}

.te-tag-input {
  display: table-cell;
  font-family: "YouTube Noto",Roboto,arial,sans-serif;
  font-size: 13px;
  /*width: 274px;*/
  width: 98%;
  margin-right: 10px;
  height: 29px;
}

.te-find {
  height: 29px;
  width: 61px;
  display: table-cell !important;
  background: url("../images/search-sm.png") no-repeat 22px 6px !important;
}

.search-control {
  display: table;
  width: 100%;
  margin-bottom: 10px;
  padding: 9px 12px 7px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
}

.search-img-section {
  height: 370px;
  padding: 130px 75px 130px 75px;
  margin: 0 10px 0;
  text-align: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
}

.search-img-big {
  margin-bottom: 20px;
}

.results {
  overflow: auto;
  height: 370px;
  background-color: #f1f1f1;
  padding: 10px;
}

.tag-rating-label{
  text-align: center;
}

.diamond-rating {
  width: 150px;
}

.load-img {
  margin-bottom: 15px;
  margin-top: 15px;
}

.pop-container {
  margin: 0 0 10px 0;
  padding: 0 0 0;
  text-align: center;
}

.speedometer-section {
  margin: 0 0 0 6px;
}

.rating-section {
  margin: 0 0 0 6px;
}

.popular-youtube {
  margin-top: 5px;
  font-size: 15px;
}

.popular-text{
  display: block;
}

.google-trends {
  margin-top: 5px;
  font-size: 15px;
}

.videoc-img-meter {
  transform: scaleX(-1);
}

.meter {
  text-align: center;
}

.meter-count {
  font-size: 22px;
  text-align:center;
}

.element {
  margin-top: 0;
  margin-bottom: 8px;
}

.popular-count {
  font-size: 15px;
  color: green;
}

.points-exp {
  font-size: 13px;
}

.bullet-list {
  padding-left: 0;
  list-style-type: disc;
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.bullet-list li {
  margin-left: 20px;
  margin-bottom: 10px;
}

.auto-section{
  padding: 0 10px;
}

.auto-list {
  padding-left: 0;
}

.auto-elem {
  margin-bottom: 5px;
  list-style-type: none;
  font-size: 13px;
}