@media only screen and (max-width: 900px) {
  /* For mobile phones: */

  [id*="root"] {
      padding: 0 !important;
  }
}

body {
  background-color: #f1f1f1 !important;
}

h3 {
  font-size: 14px !important;
}

#root{
    padding: 10%;
}

.index-loading{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#overlay {
  background-color: rgb(241, 241, 241);
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 10%;
}

.overlay-message-container{
    text-align: center;
    background: white;
    padding: 43px;
}

.overlay-header-container{
    display:inline-flex;
}

.overlay-logo{
    margin-right: 10px;
}